body 
{ background-color: rgb(234, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;}

h1 {
    text-align: center;
}

form {
    text-align: center;
}